$primary:#2D1B0D;
$dark-beige: #8F7D65;
$dark-red: #B31719;
$dark-brown: #210803;
$light-beige: #F6F5F1;
$light-brown: #40382D;


/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Cantarell', sans-serif;
font-family: 'Cormorant Garamond', serif; */
